<% evil_string = "<script>alert('Gotcha!');</script>".html_safe %>
<% good_string = "<strong>Welcome</strong>".html_safe %>

<%# raw(evil_string) %><br>
<%# raw(good_string) %><br>

<hr><%# evil_string.html_safe? %><br>
<%# good_string.html_safe? %><br>

<hr><%# evil_string %><br>
<%# good_string %><br>

<hr>

<% s = "<strong>Please </strong> visit <a href=\"google.com\">us</a>" %>

<%= strip_links(s) %><br>
<%= strip_tags(s) %>

<hr>

<%= sanitize(evil_string) %><br>
<%= sanitize(s, :tags =>[]) %><br>
<%= sanitize(s, :tags => ['strong', 'a']) %><br>
