<h1>Demo#hello</h1>
<p>Hello world!</p>

<%= 1+1 %>

<% target="world"%>

<%= "Hello #{target}"%>

<% @array.each do |n| %>
	<%= n %><br>
<%end%>

<a href="/demo/index">IP1</a><br>
<%= link_to('IP2', {:action => 'index'}) %><br>

ID: <%= params[:id]%><br>
Next page: <%= @page + 1%>

<hr>

<%= params.inspect%>